body {
	font-family: serif;
	font-size: 1.1em;
	width: 80%;
	max-width: 900px;
	padding: 25px 30px 20px 30px;
	text-align: center;
	margin: auto;
	margin-top: 20px;
	color: white;
	background: #212121;
}

ul {
	border: solid #ff2aAA 2px;
	padding: 1em;
	padding-left: 2em;
	overflow-wrap: break-word;
	text-align: left;
	display: inline-block;
	width: 60%;
	max-width: 100%;
}

h1 {
	font-size: 60px;
	margin: 0px;
	line-height: 85%;
}

code { font-family: courier; font-size: 14px;}

hr {
	white-space: pre-wrap;
	overflow-wrap: break-word;
	border: solid #ff2aAA 1px;
	text-align: left;
	max-width: 100%;
}

pre {
	display: inline-block;
	white-space: pre-wrap;
	overflow-wrap: break-word;
	border: solid #ff2aAA 2px;
	padding: 1em;
	text-align: left;
	max-width: 100%;
}

@-webkit-keyframes glow {
	from {text-shadow:; color: white;}
	to {text-shadow: 0 0 10px #ffc608, 0 0 20px #ffc608, 0 0 30px #ff2aAA, 0 0 40px #ff2aAA, 0 0 50px #ff2aAA, 0 0 60px #ff2aAA; color: #ffc608;}
}

h1 {
	-webkit-animation: glow 2s ease-in-out infinite alternate;
	-moz-animation: glow 2s ease-in-out infinite alternate;
	animation: glow 2s ease-in-out infinite alternate;
}

a {color: #ffc608;}
a:hover {color: #ff2ad4}
a:visited {color: #ff2aAA}
